body {
    font-size: 75%;
    font-family: Verdana, sans-serif;
    color: #333;
    background-color: #333;
}

h1 {
    font-family: Verdana, sans-serif;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.9) 0 2px 5px;
    }

td {
    font-size: 75%;
    font-family: Verdana, sans-serif;
}

header{
    margin:20px;
    padding: 21px;
    background: #467612;
    /* border: 1px solid #d7d7d7; */

    /* Border-radius not implemented yet */
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    }

footer{
    margin:20px;
    padding: 21px;
    background: #467612;
    /* border: 1px solid #d7d7d7; */

    /* Border-radius not implemented yet */
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    }

article{
    margin:20px;
    padding: 21px;
    background: #E3E3E3;
    border: 1px solid #d7d7d7;

    /* Border-radius not implemented yet */
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    }

#div1 {
    background-image: url("imagenes/fondo1.png");
    height: 40px;
    width: 100%;
    font-size:12px;
    vertical-align: middle;
}

#div2 {
    background-image: url("imagenes/fondo2.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    vertical-align: middle;
}

input {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    }

select {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    }

label {
    color: white;
    }
